<%-include('../../header.ejs') %>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-2">
      <%-include('../../admin/component/adminSidebar.ejs') %>
    </div>
    <div class="col-md-10">
        <!-- main content here --->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h3 class="text-center mb-3 fst-italic">Add New Category</h3>
            <form action="/admin/categoryStore" method="POST">
              <div class="mb-3">
                <label for="title" role="button">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
              </div>
              <div class="mb-3">
                <label for="description" role="button">Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="col-md-2"></div>
        </div>
    </div>
  </div>
</div>

<%-include('../../footer.ejs') %>