<%-include('../header.ejs')%>
<!-- Banner Section -->
<section class="banner">
	<div class="container-fluid">
		<div class="carousel slide" data-bs-ride="carousel" id="a">

                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#a" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#a" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#a" data-bs-slide-to="2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">

                            <img src="image/banner0.jpg" class="w-100" alt="...">
                            <div class="carousel-caption col-md-6 text-start pt-4">
                               <!-- <a href="a" class="main-btn main-btn-yellow">Watch NOW</a> -->
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="3000">

                            <img src="image/banner.jpg" class="w-100" alt="...">
                            <div class="carousel-caption col-md-6 text-start pt-4">
                                
                                <!-- <a href="a" class="main-btn main-btn-yellow">Watch NOW</a> -->
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="3000">

                            <img src="image/banner1.jpg" class="w-100" alt="...">
                            <div class="carousel-caption col-md-6 text-start pt-4">
                                
                                <!-- <a href="a" class="main-btn main-btn-yellow">Watch NOW</a> -->
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#a" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#a" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div><!--carousel end-->
                </div>
	</div><!-- container-fluid end -->
</section>
<!-- Banner Section End -->
<br>
<!-- Contain Section -->
<h4 class="text-center">BOLLYWOOD MOVIE:-</h4>
<div class="container">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="image/3idio_poster.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">
            3 Idiots
          </h5>
          <p class="card-text">3 Idiots is a 2009 Indian Hindi-language coming-of-age comedy-drama film written and directed by Rajkumar Hirani co-written by Abhijat Joshi, with producer Vidhu Vinod Chopra acting as a screenplay associate. 
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="image/jabwemet_poster.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">
            Jab We Met
          </h5>
          <p class="card-text">Jab We Met (transl. When We Met) is a 2007 Indian Hindi-language romantic comedy film written and directed by Imtiaz Ali and produced by Dhilin Mehta under his banner Shree Ashtavinayak Cine Vision.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="image/kuch-2_hota hai_poster.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">
            Kuch Kuch Hota Hai
          </h5>
          <p class="card-text">Kuch Kuch Hota Hai (transl. Something happens) also known as KKHH or K2H2, is a 1998 Indian Hindi-language romantic comedy drama film written and directed by Karan Johar and produced under Dharma Productions. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<h4 class="text-center">HOLLYWOOD MOVIES:- </h4>
<div class="container">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="image/herrypoter0_poster.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">
            Harry Potter and the Philosopher's Stone
          </h5>
          <p class="card-text">Harry Potter and the Philosopher's Stone (released in the United States, India and the Philippines as Harry Potter and the Sorcerer's Stone) is a 2001 fantasy film directed by Chris Columbus 
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="image/herrypoter_poster.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">
            Harry Potter and the Prisoner of Azkaban
          </h5>
          <p class="card-text">Harry Potter and the Prisoner of Azkaban is a 2004 fantasy film directed by Alfonso Cuarón and distributed by Warner Bros. Pictures, based on J. K. Rowling's 1999 novel of the same name.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="image/jumagy_poster.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">
            Jumanji: The Next Level
          </h5>
          <p class="card-text">Jumanji: The Next Level is a 2019 American fantasy adventure comedy film directed by Jake Kasdan and co-written by Jeff Pinkner, and Scott Rosenberg. It is a sequel to 2017's Jumanji.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contain Section End -->
<%-include('../footer.ejs') %>