<table class="table table-bordered">
  <tr>
    <th><a href="/admin/dashboard" class="text-decoration-none text-dark">Dashboard</a></th>
  </tr>
  <tr>
    <th><a href="/admin/createBlog" class="text-decoration-none text-dark">Add Blogs</a></th>
  </tr>
  <tr>
    <th><a href="/admin/displayBlog" class="text-decoration-none text-dark">Display Blogs</a></th>
  </tr>
  <tr>
    <th><a href="/admin/createCategory" class="text-decoration-none text-dark">Add Categories</a></th>
  </tr>
  <tr>
    <th><a href="/admin/categoryDisplay" class="text-decoration-none text-dark">Display Categories</a></th>
  </tr>
  <tr>
    <th><a href="/logout" class="text-decoration-none text-dark">Logout</a></th>
  </tr>
</table>